@import mixins


body
	@include background(0,0,0,0.2)
	font-family: helvetica, arial, sans-serif
	
	

#header
	@include center(45%)
	@include background(0,0,0,0.8)
	@include border(0.5em)

	> h1
		color: orange
		text-align: center

		@include transition(color, 2s)

		&:hover

			cursor: pointer
			color: brown

/*BASIC CONTAINER SETUP */
#container
	@include center(90%)
	@include background (0,0,0,0.1)
	@include border(2em)
	padding: 0.01em 1em 0.5em 1em
	$border-size: 1em

	> div
		margin-top: 1em

		&:first-child 
			margin-top: 1em
			@include top-border($border-size)

			> .header
				@include top-border($border-size)


		&:last-child
			margin-bottom: 1em

#container div 
	
	.header

		position: relative
		width: 100%
		left: 0
		@include background(0,0,0)
		color: white

		> h1
			position: relative
			padding: 0.1em
			margin-left: 1em
			max-width: 20%
			cursor: pointer
			display: inline

			@include transition(color, 1s)

			&:hover	
				color: orange

		> .exit
			position: absolute
			right: 0
			top: 0
			height: 100%
			width: 2em
			@include background
			cursor: pointer
			.images-1

	&:first-child > .header > .exit

		border-top-right-radius: 1em

#container div 
	
	&:last-child > canvas
		@include bottom-border

	> canvas
	
		height: 8em
		width: 100%
		background-color: white








